 @charset "UTF-8";

 
 /*Não esquecer o ";" depois de cada declaração.*/
* { /*Configurações globais da CSS*/
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body{
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);


}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a88775da ; /*parametros: para o lado, baixo, espalhar, transparência*/
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #f39209;
    text-shadow: 1px 1px 2px #432904ec;

}

h2{
    color: #125189;

}

p{
    text-align: justify;
}
